body {
	overflow: auto !important;
}

.site-main {
	opacity: 1.0 !important;
	transform: none !important;
	transition: none !important;
	filter: none !important;
}

.site-main > .inner > section {
	opacity: 1.0 !important;
	transform: none !important;
	transition: none !important;
	filter: none !important;
}